/* --------- ESTILOS DA SEÇÃO 'CONTATO' --------- */

/* Definindo o container dos cards de contato como um flexbox de espaçamento uniforme entre os itens */
.contatos_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5em;
    margin-top: min(2.5em, 4vw);
}

/* Definições para o card de contato */
.contato_card {
    width: min(8em, 20%);
    text-align: center;
    color: #000;
}

/* Tamanho do texto do card definido buscando responsividade */
.contato_card p {
    font-size: clamp(1.2em, 5vw, 1.6em);
}

/* Imagem do card deve ocupar todo o espaço disponível */
.contato_card img {
    width: 100%;
}