/* --------- ESTILOS DA SEÇÃO 'SOBRE MIM' --------- */

/* Definindo o container que contém as informações de texto e a foto como uma flexbox de conteúdo centralizado */
.container_sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em 5em;
    padding: 0 1em;
}

/* Definindo width responsivo para a div que contém a foto */
.foto_sobre {
    width: min(22em, 70%);
}

/* Definições para a foto */
#foto {
    width: 100%;
    border-radius: 100%;
    pointer-events: none;
}

/* Definindo o width do container do texto 'Sobre mim' */
.info_sobre {
    width: 30em;
}

/* Margem para separar o texto do título */
.info_sobre h2 {
    margin-bottom: 10px;
}

/* Definindo font-size responsivo para o texto */
.info_sobre p {
    font-size: 1.4em;
}