/* --------- ESTILOS DA SEÇÃO 'SOBRE MIM' --------- */

/* Definição o container da seção como um flexbox de conteúdo centralizado e com um gap de 5em entre os itens */
#secao_sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    padding: 5em 1em;
}

/* Definindo width e height do container da foto, arredondamento da div para 10px, foto com background-image, tamanho da foto deve cobrir toda a div, background não deve ser repetido */
#foto_container {
    width: 20em;
    height: 20em;
    border-radius: 10px;
    background-image: url(../imagens/foto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Definindo o width do container do texto 'Sobre mim' */
.container_info {
    width: 30em;
}

.container_info p {
    font-size: 1.4em;
}