/* --------- ESTILOS GERAIS DA PÁGINA --------- */

/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&family=Questrial&display=swap');

/* Retirando margem e padding de todos os elementos, e definindo como border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo scroll-behavior */
html {
    scroll-behavior: smooth;
}

/* Definindo fonte e peso de fonte para subtítulos de segundo nível e links de navegação */
h2, nav a {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 400;
}

/* Definindo fonte para parágrafos e títulos de terceiro nível */
p, h3 {
    font-family: "Questrial", sans-serif;
}

/* Definindo font-size para os títulos de seção e link principal do nav */
.link_main, h2 {
    font-size: 1.8em;
}


/* Alterando a cor das linhas que dividem as seções */
hr {
    border: 1px solid #bbb;
}

/* Definições em comum para o header e footer */
header, footer {
    background-color: #252525;
    color: #fff;
    padding: 1em;
}

/* Centralizando horizontalmente a NAV que está no footer */
footer {
    justify-items: center;
}

/* Definindo background do main */
main {
    background-color: #d9d9d9;
}

/* Alinhamento central para os subtítulos de segundo nível */
h2 {
    text-align: center;
}

/* Retirando text-decoration de todos os links */
a {
    text-decoration: none;
}

/* Definindo os Navs como flexbox com seus itens alinhandos verticalmente ao centro e com space-between no eixo principal */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Definindo cor, margem lateral e tamanho para os links do nav */
nav a {
    color: #fff;
    font-size: 1.4em;
    margin: 0 30px;
}

/* Definindo padding vertical responsivo e horizontal de 1em */
section {
    padding: min(5em, 8vw) 1em;
}

/* Por questão de responsividade, definindo a div que contém os links das seções com uma flexbox com wrap ativado */
.link_secoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Cor para os links do nav ao passar do mouse */
nav a:hover {
    color: #ffc400;
    transition: color 0.2s ease-in-out;
}