/* --------- ESTILOS DA SEÇÃO 'TECNOLOGIAS E HABILIDADES' --------- */

/* Definindo o container que exibe os cards de tecnologias como um flexbox com seu conteúdo alinhado horizontalmente de maneira central e com um gap de 2em */
.container_tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em 2em;
    margin-top: min(2.5em, 4vw);
}

/* Configurando o tamanho e alinhamento do texto do card de habilidades */
.card_habilidades {
    background-color: #f1f1f1;
    box-shadow: 0 0 2px #252525;
    width: min(6.5em, 25%);
    border-radius: 10px;
    max-height: fit-content;
    transition: box-shadow 0.5s ease-in-out;
}

/* Garantindo que a imagem tome 100% do espaço que puder tomar no card */
.card_tec_img {
    width: 100%;
    padding: 5px 5px 0 5px;
}

/* Parte inferior do card que só deve ser exibida ao passar do mouse */
.info_tecnologias {
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    font-size: clamp(1em, 3vw, 1.3em);
    margin-bottom: 5px;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

/* Ao passar com o mouse em cima do card, o card se expande e exibe o nome do ícone sendo apresentado na imagem */
.card_habilidades:hover .info_tecnologias {
    max-height: 50px;
}

/* Aumento do box-shadow ao passar do mouse no card */
.card_habilidades:hover {
    box-shadow: 0 0 5px #252525;
}