/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&family=Questrial&display=swap');

/* Definições gerais para a página */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo border-radius para todas as imagens */
img {
    border-radius: 10px;
}

/* Definindo as fontes para títulos, subtítulos de segundo nível e links do header e footer */
h1, h2, nav a {
    font-family: "Noto Serif Bengali", serif;
}

/* Definindo as fontes para parágrafos e subtítulos de terceiro nível */
p, h3 {
    font-family: "Questrial", sans-serif;
}

/* Retirando a decoração de todos os links */
a { 
    text-decoration: none;
}

/* Cor para links do header e footer */
nav a { 
    color: #fff;
    margin: 0 1em;
}

/* Definições em comum para header e footer */
header, footer { 
    background-color: #545454;
    color: #fff;
    padding: 1em;
}

/* Alinhamento para os links do footer */
footer { 
    text-align: center;
}

main {
    background-color: #d9d9d9;
}

/* Definições para o link principal da página */
.link_main {
    font-size: 1.8em;
    display: inline-block;
    margin: 0 0.5em;
}

/* Definições para os outros links da nav do header, que não sejam o link principal */
.links_categorias {
    display: inline-block;
    width: 75%;
    text-align: right;
}

/* Definiçõe para as sessões da página */
section { 
    padding: 5em;
}

/* Alinhamento para subtítulos */
h2 { 
    text-align: center;
}

/* Definições para a div que envolve a foto da seção 'Sobre mim' */
#foto_container {
    display: inline-block;
    width: 20em;
}

/* Definições para a imagem da se*/
#foto_container img {
    max-width: 100%;
}

/* Definições para a div que contém as informações da seção 'Sobre mim' */
.container_info {
    display: inline-block;
    width: 30em;
}

/* Definições para a seção que contém os cards de tecnologias e habilidades */
.container_tecnologias {
    text-align: center;
    padding: 5em;
}

/* Definições para os cards da seção de tecnologia e habilidades */
.card_habilidades {
    display: inline-block;
    margin: 1em 3em;
}

/* Definições para os cards dos projetos */
.card_projeto {
    background-color: #2c2c2c;
    color: #ffffff;
    margin: 1em;
    padding: 1em;
    width: 22em;
    display: inline-block;
    border-radius: 10px;
}

/* Definindo a cor para os textos de link */
.card_projeto a {
    color: #ffffff;
}

/* Definições para o body do card de projeto */
.card_projeto_header, .card_projeto_body, .card_projeto_footer {
    margin: 1em 0;
}

/* Definindo margem para os elementos H3, P e A do card de projetos */
#secao_projetos h3, #secao_projetos p, #secao_projetos a {
    margin: 5px;
}

/* Definições para o páragrafo do card de projetos que exibe cada tecnologia utilizada no projeto  */
.tech_display {
    background-color: #545454;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8em;
}

/* Definições para o body e footer do card de projetos, que exibe os itens da classe .tech_display */
.card_projeto_body, .card_projeto_footer {
    display: flex;
    flex-wrap: wrap;
}

.card_projeto_footer a {
    
}

/* Definições para os ícones de link no card do projeto */
.link_projeto_icon {
    width: 2em;
}

/* Definição de width para a capa do card de projeto */
.projeto_cover {
    width: 20em;
}

